@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  font-weight: bold;
  font-size: 1.25rem; //xl

  @media (min-width: 768px) {
    font-size: 1.875rem; //3xl
  }

  @media (min-width: 1536pxpx) {
    font-size: 4.5rem; //7xl
  }
}

h2 {
  font-weight: bold;
  font-size: 1.5rem; //2xl

  @media (min-width: 768px) {
    font-size: 3.75rem; //6xl
  }

  @media (min-width: 1536px) {
    font-size: 6rem; //8xl
  }
}

.slideIn-enter-active,
.slideIn-leave-active {
  transition: all 0.5s ease;
}

.slideIn-enter-from,
.slideIn-leave-to {
  opacity: 0%;
  transform: translateY(-100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

p {
  font-size: 0.75rem; //sm

  @media (min-width: 1024px) {
    font-size: 1rem; //base
  }

  @media (min-width: 1536px) {
    font-size: 1.5rem; //2xl
  }
}

.appear {
  opacity: 0;
  transform: translateY(100px);
}

.split span {
  opacity: 0;
  transform: translateY(0.1em);
}

.search-input-wrapper {
  position: relative;
  width: 100%;

  @media (min-width: 1024px) {
    max-width: 500px;
  }
}
.search-input-wrapper input[data-search-input=true] {
  display: block;
  width: 100%;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: normal;
  height: 38px;
  color: #333;
  background-color: #f6f9fc;
  border: 1px solid #f6f9fc;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out;

  @media (min-width: 1024px) {
  font-size: 16px;
  padding: 30px 10px;
  }
}
.search-input-wrapper input[data-search-input=true]:focus {
  background-color: white;
  outline: 0;
  box-shadow: none;
}
.search-input-wrapper .search-icon {
  color: theme('colors.teal.900');
  position: absolute;
}
.search-input-wrapper .search-icon.search {
  left: 12px;
  bottom: 12px;
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.search-input-wrapper .search-icon.search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 7px;
  background: theme('colors.teal.900');
  transform: rotate(-45deg);
  top: 11px;
  left: 12px;
}
.search-input-wrapper .search-icon.shortcut {
  width: 22px;
  height: 24px;
  cursor: text;
  right: 8px;
  bottom: 7px;
  background-color: #e7eff7;
  border-radius: 3px;
  z-index: 50;
}
.search-input-wrapper .search-icon.shortcut::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 2px;
  transform: rotate(25deg);
  width: 2px;
  height: 16px;
  top: 4px;
  left: 10px;
  z-index: 51;
  background-color: theme('colors.teal.900');
}
.search-input-wrapper .search-icon.clear {
  right: 5px;
  bottom: 7px;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid transparent;
  border-radius: 40px;
  background: none;
  padding: 0px;
  outline: none;
}
.search-input-wrapper .search-icon.clear:focus {
  background: #e7eff7;
}
.search-input-wrapper .search-icon.clear::after, .search-input-wrapper .search-icon.clear::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: theme('colors.teal.900');
  transform: rotate(45deg);
  border-radius: 5px;
  top: 9px;
  left: 2px;
}
.search-input-wrapper .search-icon.clear::after {
  transform: rotate(-45deg);
}

/* Fix the X appearing in search field on Chrome and IE */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}